@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url("./background.png");
    color: #fff;
}

header {
    background-color: rgb(255, 255, 255);
    color: #222;
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

h1, h2 {
    font-weight: bolder;
}

.subtitle {
    margin: 0 25px -5px 25px;
    background-color: #00e4d880;
}

header > img {
    width: 80px;
    height: auto;
}

#main {
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 110px;
    padding: 25px 0;
}

#main h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

hr {
    height: 1.5px;
    margin: 5px 25px;
}

span {
    color: #ffcc00;
    font-weight: bolder;
}

p {
    font-size: 1.2em;
    line-height: 1.4;
    margin: 15px 25px;
}

.subtitle {
    text-align: center;
    font-size: 1.8em;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
}

.question {
    font-size: 1.5em;
    color: #a5fffa;
    margin: 20px 25px;
}

ul {
    padding: 0 60px;
}

#join {
    text-align: center;
    margin: 20px 0;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 0.9em;
}